<div class="row">
	
<h1>Autobuses</h1>

<table>
	<thead>
	<tr>
		<th>Codigo</th>
		<th>Marca</th>
		<th>Modelo</th>
		<th>Capacidad</th>
		<th>Is active</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>

	<tbody>
	<% @autobuses.each do |autobus| %>
		<tr>
		<td><%= autobus.codigo %></td>
		<td><%= autobus.marca %></td>
		<td><%= autobus.modelo %></td>
		<td><%= autobus.capacidad %></td>
		<td><%= autobus.is_active %></td>
		<td><%= link_to 'Mostrar', autobus%></td>
		<td><%= link_to 'Editar', edit_autobus_path(autobus)%></td>
		<td><%= link_to 'Eliminar', autobus, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
		</tr>
	<% end %>
	</tbody>
</table>
	<%= link_to 'Nuevo Autobus', new_autobus_path, class:"button" %>
</div>
