<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @autobus.codigo %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @autobus.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @autobus.modelo %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @autobus.capacidad %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @autobus.is_active %>
</p>

<%= link_to 'Edit', edit_autobus_path(@autobus) %> |
<%= link_to 'Back', autobuses_path %>
