<div class="row">
	<p id="notice"><%= notice %></p>
	<div class="large-2 columns">
		<strong>Codigo:</strong>
			<%= @autobus.codigo %>
	</div>
	<div class="large-2 columns">
		<p>
			<strong>Marca:</strong>
			<%= @autobus.marca %>
		</p>
	</div>
	<div class="large-2 columns">
		<p>
			<strong>Modelo:</strong>
			<%= @autobus.modelo %>
		</p>
	</div>
	<div class="large-2 columns">
		<p>
			<strong>Capacidad:</strong>
			<%= @autobus.capacidad %>
		</p>
	</div>
	<div class="large-2 columns">
		<p>
			<strong>Is active:</strong>
			<%= @autobus.is_active %>
		</p>
	</div>
	<div class="large-2 columns">
		<p>
			<strong>Is taken:</strong>
			<%= @autobus.is_taken %>
		</p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<%= link_to 'Edit', edit_autobus_path(@autobus), class:"button" %>
		<%= link_to 'Back', autobuses_path, class:"button" %>
	</div>
</div>
