<div class="row">
	<h1>Mantenimientos</h1>
</div>
<div class="row">
		
	<table>
		<thead>
		<tr>
			<th>ID</th>
			<th>Fecha</th>
			<th>Observacion</th>
			<th>Kilometraje</th>
			<th>Precio</th>
			<th>Autobus</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		</thead>

		<tbody>
		<% @mantenimientos.each do |mantenimiento| %>
			<tr>
			<td><%= mantenimiento.id %></td>
			<td><%= mantenimiento.fecha %></td>
			<td><%= mantenimiento.observacion %></td>
			<td><%= mantenimiento.kilometraje %></td>
			<td><%= mantenimiento.precio %></td>
			<td><%= mantenimiento.autobus.codigo %></td>
			<td><%= link_to 'Mostrar', mantenimiento %></td>
			<td><%= link_to 'Editar', edit_mantenimiento_path(mantenimiento) %></td>
			<td><%= link_to 'Eliminar', mantenimiento, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
<div class="row">
	<%= link_to 'Nuevo Mantenimiento', new_mantenimiento_path, class:"button" %>
</div>
