<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @mantenimiento.fecha %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @mantenimiento.observacion %>
</p>

<p>
  <strong>Kilometraje:</strong>
  <%= @mantenimiento.kilometraje %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @mantenimiento.precio %>
</p>

<p>
  <strong>Autobus:</strong>
  <%= @mantenimiento.autobus %>
</p>

<%= link_to 'Edit', edit_mantenimiento_path(@mantenimiento) %> |
<%= link_to 'Back', mantenimientos_path %>
