<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pasajero.nombre %>
</p>

<p>
  <strong>Identidad:</strong>
  <%= @pasajero.identidad %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @pasajero.fecha_nacimiento %>
</p>

<p>
  <strong>Asiento:</strong>
  <%= @pasajero.asiento %>
</p>

<p>
  <strong>Boleto:</strong>
  <%= @pasajero.boleto %>
</p>

<%= link_to 'Edit', edit_pasajero_path(@pasajero) %> |
<%= link_to 'Back', pasajeros_path %>
