<div class="row">
	
<p id="notice"><%= notice %></p>

<p>
  <strong>Asiento no:</strong>
  <%= @asiento.asiento_no %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @asiento.tipo %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @asiento.is_active %>
</p>

<p>
  <strong>Autobus:</strong>
  <%= @asiento.autobus.codigo %>
</p>

<%= link_to 'Edit', edit_asiento_path(@asiento), class:"button" %>
<%= link_to 'Back', asientos_path , class:"button"%>
</div>
