		
	<%= form_for(@precio_boleto) do |f| %>
		<% if @precio_boleto.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@precio_boleto.errors.count, "error") %> prohibited this precio_boleto from being saved:</h2>

				<ul>
				<% @precio_boleto.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
<div class="row">
	<div class="large-6 columns">
		<div class="field">
			<%= f.label :precio %><br>
			<%= f.text_field :precio %>
		</div>
	</div>
	<div class="large-6 columns">
		<div class="field">
			<%= f.label :clase %><br>
			<%= f.select :clase, [['Turista','Turista'],['Ejecutiva','Ejecutiva'],['Economica','Economica']] %>
		</div>
	</div>
<div class="row">
	<div class="large-5 columns">
		<div class="field">
			<%= f.label :destino %><br>
			<%= collection_select(:precio_boleto, :destino, @lugares, :cod, :nombre) %>
		</div>
	</div>
	<div class="large-5 columns">
		<div class="field">
			<%= f.label :origen %><br>
			<%= collection_select(:precio_boleto, :origen, @lugares, :cod, :nombre) %>
		</div>
	</div>
	<div class="large-2 columns">
		<div class="actions">
			<%= f.submit %>
		</div>
	</div>
</div>
	<% end %>
