<div class="row">
	<h1>Precios de Boletos</h1>
</div>
<div class="row">
	<table>
		<thead>
		<tr>
			<th>Precio</th>
			<th>Clase</th>
			<th>Destino</th>
			<th>Origen</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		</thead>

		<tbody>
		<% @precio_boletos.each do |precio_boleto| %>
			<tr>
			<td><%= precio_boleto.precio %></td>
			<td><%= precio_boleto.clase %></td>
			<td><%= precio_boleto.destino %></td>
			<td><%= precio_boleto.origen %></td>
			<td><%= link_to 'Mostrar', precio_boleto %></td>
			<td><%= link_to 'Editar', edit_precio_boleto_path(precio_boleto) %></td>
			<td><%= link_to 'Eliminar', precio_boleto, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
<div class="row">
	<%= link_to 'Nuevo Precio boleto', new_precio_boleto_path, class:"button" %>
</div>
