<div class="row">
	
<p id="notice"><%= notice %></p>

<p>
  <strong>Precio:</strong>
  <%= @precio_boleto.precio %>
</p>

<p>
  <strong>Clase:</strong>
  <%= @precio_boleto.clase %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @precio_boleto.destino %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @precio_boleto.origen %>
</p>

</div>
<div class="row">
	<%= link_to 'Edit', edit_precio_boleto_path(@precio_boleto), class:"button" %>
	<%= link_to 'Back', precio_boletos_path, class:"button" %>
</div>
