<div class="row">
	
<h1>Precios de paquetes</h1>

<table>
	<thead>
	<tr>
		<th>Tipo paquete</th>
		<th>Precio</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	</thead>

	<tbody>
	<% @precio_paquetes.each do |precio_paquete| %>
		<tr>
		<td><%= precio_paquete.tipo_paquete %></td>
		<td><%= precio_paquete.precio %></td>
		<td><%= link_to 'Mostrar', precio_paquete %></td>
		<td><%= link_to 'Editar', edit_precio_paquete_path(precio_paquete) %></td>
		<td><%= link_to 'Eliminar', precio_paquete, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br>

<%= link_to 'Nuevo Precio paquete', new_precio_paquete_path, class:"button" %>
</div>
