<div class="row">
		
	<p id="notice"><%= notice %></p>

	<p>
		<strong>Tipo paquete:</strong>
		<%= @precio_paquete.tipo_paquete %>
	</p>

	<p>
		<strong>Precio:</strong>
		<%= @precio_paquete.precio %>
	</p>

	<%= link_to 'Editar', edit_precio_paquete_path(@precio_paquete), class:"button" %>
	<%= link_to 'Atras', precio_paquetes_path, class:"button" %>
</div>
