<div class="row">
	
	<%= form_for(@destino) do |f| %>
	<% if @destino.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@destino.errors.count, "error") %> prohibited this destino from being saved:</h2>

		<ul>
		<% @destino.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>
	
	<div class="large-5 columns">
		<div class="field">
			<%= f.label :nombre %><br>
			<%= f.text_field :nombre %>
		</div>
	</div>
	<div class="large-5 columns">
		<div class="field">
			<%= f.label :cod %><br>
			<%= f.text_field :cod %>
		</div>
	</div>
	<div class="large-2 columns">
		<div class="actions">
			<%= f.submit %>
		</div>
	</div>
	<% end %>
</div>
