<h1>Listing destinos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cod</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @destinos.each do |destino| %>
      <tr>
        <td><%= destino.nombre %></td>
        <td><%= destino.cod %></td>
        <td><%= link_to 'Show', destino %></td>
        <td><%= link_to 'Edit', edit_destino_path(destino) %></td>
        <td><%= link_to 'Destroy', destino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Destino', new_destino_path %>
