<div class="row">

	<h1>Destinos</h1>

	<table>
		<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Cod</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		</thead>

		<tbody>
		<% @destinos.each do |destino| %>
			<tr>
			<td><%= destino.id %></td>
			<td><%= destino.nombre %></td>
			<td><%= destino.cod %></td>
			<td><%= link_to 'Mostrar', destino %></td>
			<td><%= link_to 'Editar', edit_destino_path(destino) %></td>
			<td><%= link_to 'Eliminar', destino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
<%= link_to 'Nuevo Destino', new_destino_path, class:"button"%>
</div>
