<%= form_for(@empleado) do |f| %>
  <% if @empleado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empleado.errors.count, "error") %> prohibited this empleado from being saved:</h2>

      <ul>
      <% @empleado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  
  <div class="field">
    <%= f.label :identidad %><br>
    <%= f.text_field :identidad %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_area :direccion %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :fecha_nacimiento %><br>
    <%= f.date_select :fecha_nacimiento,start_year: 1910 %>
  </div>
  <div class="field">
    <%= f.label :puesto %><br>
    <%= f.text_field :puesto %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>
  <div class="field">
    <%= f.label :tiene_bus %><br>
    <%= f.check_box :tiene_bus %>
  </div>
  <div class="field">
    <%= f.label :terminal_id %><br>
    <%= f.text_field :terminal_id %>
  </div>
  <div class="field">
    <%= f.label :autobus_id %><br>
    <%= f.text_field :autobus_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
