<%= form_for(@encomienda) do |f| %>
  <% if @encomienda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encomienda.errors.count, "error") %> prohibited this encomienda from being saved:</h2>

      <ul>
      <% @encomienda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :destinatario %><br>
    <%= f.text_field :destinatario %>
  </div>
  <div class="field">
    <%= f.label :remitente %><br>
    <%= f.text_field :remitente %>
  </div>
  <div class="field">
    <%= f.label :peso %><br>
    <%= f.text_field :peso %>
  </div>
  <div class="field">
    <%= f.label :destino %><br>
    <%= f.text_field :destino %>
  </div>
  <div class="field">
    <%= f.label :origen %><br>
    <%= f.text_field :origen %>
  </div>
  <div class="field">
    <%= f.label :is_delivered %><br>
    <%= f.check_box :is_delivered %>
  </div>
  <div class="field">
    <%= f.label :is_shipped %><br>
    <%= f.check_box :is_shipped %>
  </div>
  <div class="field">
    <%= f.label :is_onhold %><br>
    <%= f.check_box :is_onhold %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :terminal_id %><br>
    <%= f.text_field :terminal_id %>
  </div>
  <div class="field">
    <%= f.label :precio_paquete_id %><br>
    <%= f.text_field :precio_paquete_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
