<%= form_for(@encomienda) do |f| %>
		<% if @encomienda.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@encomienda.errors.count, "error") %> prohibited this encomienda from being saved:</h2>

			<ul>
			<% @encomienda.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
		<% end %>
	<div class="row">
		
		<div class="large-6 columns">
			<div class="field">
				<%= f.label :destinatario %>
				<%= f.text_field :destinatario %>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="field">
				<%= f.label :remitente %>
				<%= f.text_field :remitente %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-2 columns">
			<div class="field">
				<%= f.label :peso %>
				<%= f.text_field :peso %>
			</div>
		</div>
		<div class="large-5 columns">
			<div class="field">
			<%= f.label :destino %>
			<%= collection_select(:encomienda, :destino, @lugares, :cod, :nombre) %>
			</div>
		</div>
		<div class="large-5 columns">
			<div class="field">
				<%= f.label :origen %>
				<%= collection_select(:encomienda, :origen, @lugares, :cod, :nombre) %>
			</div>
		</div>
	</div>
	<div class="panel">
		
		<div class="row">
				
			<div class="large-2 columns">
				<div class="field">
					<%= f.label :is_delivered %>
					<%= f.check_box :is_delivered %>
				</div>
			</div>
			<div class="large-2 columns">
				<div class="field">
					<%= f.label :is_shipped %>
					<%= f.check_box :is_shipped %>
				</div>
			</div>
			<div class="large-2 columns">
				<div class="field">
					<%= f.label :is_onhold %>
					<%= f.check_box :is_onhold %>
				</div>
			</div>
			<div class="large-2 columns">
				<div class="field">
					<%= f.label :fecha %>
					<%= f.date_select :fecha %>
				</div>
			</div>
			<div class="large-4 columns">
				<div class="field">
					<%= f.label :terminal_id %>
					<%= collection_select(:encomienda, :terminal_id, @terminales, :id, :codigo) %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-10 columns">
			
			<div class="field">
				<%= f.label :precio_paquete_id %>
				<%= collection_select(:encomienda, :precio_paquete_id, @precios, :id, :tipo_paquete) %>
			</div>
		</div>
		<div class="large-2 columns">
			<div class="actions">
				<%= f.submit %>
			</div>
		</div>
	</div>
<% end %>
