<div class="row">
	<h1>Encomiendas</h1>
</div>
<div class="row">
	<table>
	<thead>
		<tr>
		<th>ID</th>
		<th>Destinatario</th>
		<th>Remitente</th>
		<th>Peso</th>
		<th>Destino</th>
		<th>Origen</th>
		<th>Fecha</th>
		<th>Terminal</th>
		<th>Tipo paquete</th>
		<th>Precio paquete</th>
		<th></th>
		<th></th>
		</tr>
	</thead>

	<tbody>
		<% @encomiendas.each do |encomienda| %>
		<tr>
			<td><%= encomienda.id %></td>
			<td><%= encomienda.destinatario %></td>
			<td><%= encomienda.remitente %></td>
			<td><%= encomienda.peso %></td>
			<td><%= encomienda.destino %></td>
			<td><%= encomienda.origen %></td>
			<td><%= encomienda.fecha %></td>
			<td><%= encomienda.terminal.codigo %></td>
			<td><%= encomienda.precio_paquete.tipo_paquete %></td>
			<td><%= encomienda.precio_paquete.precio %></td>
			<td><%= link_to 'Mostrar', encomienda %></td>
			<td><%= link_to 'Editar', edit_encomienda_path(encomienda) %></td>
		</tr>
		<% end %>
	</tbody>
	</table>
</div>
<div class="row">
	<%= link_to 'Nueva Encomienda', new_encomienda_path, class:"button" %>
</div>
