<div class="row">
	
	<p id="notice"><%= notice %></p>

	<ul class="pricing-table">
		<li class="title">Destinatario: <%= @encomienda.destinatario %></li>
		<li class="title">Remitente: <%= @encomienda.remitente %></li>
		<li class="price">Lps. <%= @encomienda.precio_paquete.precio %></li>
		<li class="description">Destino: <%= @encomienda.destino %></li>
		<li class="description">Origen: <%= @encomienda.origen %></li>
		<li class="bullet-item">Fecha: <%= @encomienda.fecha %></li>
		<li class="bullet-item">Terminal: <%= @encomienda.terminal.codigo %></li>
		<li class="cta-button"><a class="button imprimir">Imprimir</a></li>
	</ul>

	<%= link_to 'Editar', edit_encomienda_path(@encomienda), class:"button" %>
	<%= link_to 'Atras', encomiendas_path, class:"button" %>
</div>
