<div class="row">
	
	<p id="notice"><%= notice %></p>

	<p>
		<strong>Codigo:</strong>
		<%= @terminal.codigo %>
	</p>

	<p>
		<strong>Telefono:</strong>
		<%= @terminal.telefono %>
	</p>

	<p>
		<strong>Direccion:</strong>
		<%= @terminal.direccion %>
	</p>

	<p>
		<strong>Is active:</strong>
		<%= @terminal.is_active %>
	</p>

	<%= link_to 'Editar', edit_terminal_path(@terminal), class:"button" %>
	<%= link_to 'Atras', terminals_path, class:"button" %>
</div>
