	<%= form_for(@boleto) do |f| %>
		<% if @boleto.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@boleto.errors.count, "error") %> prohibited this boleto from being saved:</h2>
				<ul>
					<% @boleto.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

	<div class="row">
		<div class="large-2 columns">
			<div class="field">
				<%= f.label :fecha %><br>
				<%= f.date_select :fecha %>
			</div>
		</div>
		<div class="large-2 columns">
			<div class="field">
				<%= f.label :descuento %><br>
				<%= f.text_field :descuento %>
			</div>
		</div>
		<div class="large-2 columns">
			<div class="field">
				<%= f.label :subtotal %><br>
				<%= f.text_field :subtotal %>
			</div>
		</div>
		<div class="large-2 columns">
			<div class="field">
				<%= f.label :total %><br>
				<%= f.text_field :total %>
			</div>
		</div>
		<div class="large-4 columns">
			<div class="field">
				<%= f.label :precio_boletos_id%>
				<%= collection_select(:boleto, :precio_boletos_id, @boletos, :id, :precio)%>
			</div>
		</div>
	</div>
		<div class="row">
			<div class="field">
				<%= f.label :terminal_id%>
				<%= collection_select(:boleto, :terminal_id, @terminales, :id, :codigo) %>
			</div>
			<div class="actions">
			<%= f.submit %>
			</div>
		</div>
	<% end %>