<div class="row">
	<h1>Boletos</h1>
</div>

<div class="row">
<table>
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Descuento</th>
			<th>Subtotal</th>
			<th>Total</th>
			<th>Precio boletos</th>
			<th>Terminal</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @boletos.each do |boleto| %>
			<tr>
				<td><%= boleto.fecha %></td>
				<td><%= boleto.descuento %></td>
				<td><%= boleto.subtotal %></td>
				<td><%= boleto.total %></td>
				<td><%= boleto.precio_boletos %></td>
				<td><%= boleto.terminal %></td>
				<td><%= link_to 'Show', boleto %></td>
				<td><%= link_to 'Edit', edit_boleto_path(boleto) %></td>
				<td><%= link_to 'Destroy', boleto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>
<div class="row">
	<%= link_to 'New Boleto', new_boleto_path, class:"button" %>
</div>
