<div class="row">
	<h1>Boletos</h1>
</div>

<div class="row">
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Fecha</th>
			<th>Nombre</th>
			<th>Identidad</th>
			<th>Total</th>
			<th>Terminal</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @boletos.each do |boleto| %>
			<tr>
				<td><%= boleto.id %></td>
				<td><%= boleto.fecha %></td>
				<td><%= boleto.nombre %></td>
				<td><%= boleto.identidad %></td>
				<td><%= boleto.total %></td>
				<td><%= boleto.terminal.codigo %></td>
				<td><%= link_to 'Mostrar', boleto %></td>
				<td><%= link_to 'Editar', edit_boleto_path(boleto) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>
<div class="row">
	<%= link_to 'New Boleto', new_boleto_path, class:"button" %>
</div>
