<div class="row show_boletos">
	
	<ul class="pricing-table">
		<li class="title"><%= @boleto.nombre%></li>
		<li class="bullet-item">Boleto No: <%= @boleto.id %></li>
		<li class="bullet-item">ID:<%= @boleto.identidad%></li>
		<li class="price">Lps. <%= @boleto.total %></li>
		<li class="description">Fecha: <%= @boleto.fecha %></li>
		<li class="bullet-item">Ruta: <%= @precio_boleto.origen %> - <%= @precio_boleto.destino%></li>
		<li class="bullet-item">Terminal: <%= @boleto.terminal.codigo %></li>
		<li class="bullet-item">Hora: <span><%= @horario_terminal.hora_salida %></span></li>
		<li class="bullet-item">Autobus: <%= @boleto.asiento.autobus.codigo%></span></li>
		<li class="bullet-item">Asiento: <%= @boleto.asiento.id %></span></li>
		<li class="cta-button"><a class="button imprimir">Imprimir</a></li>
	</ul>



	<p id="notice"><%= notice %></p>

	<p>

	<%= link_to 'Editar', edit_boleto_path(@boleto), class:"button" %>
	<%= link_to 'Atras', boletos_path, class:"button" %>
</div>
