<%= form_for(@itinerario) do |f| %>
	<% if @itinerario.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@itinerario.errors.count, "error") %> prohibited this itinerario from being saved:</h2>

			<ul>
			<% @itinerario.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
<div class="row">
	<div class="large-2 columns">
		<div class="field">
			<%= f.label :hora_salida %>
			<%= f.time_select :hora_salida %>
		</div>
	</div>
	<div class="large-2 columns">
		<div class="field">
			<%= f.label :destino %>
			<%= collection_select(:itinerario, :destino, @destinos, :id, :cod) %>
		</div>
	</div>
	<div class="large-2 columns">
		<div class="field">
			<%= f.label :origen %>
			<%= collection_select(:itinerario, :origen, @destinos, :id, :cod) %>
		</div>
	</div>
	<div class="large-2 columns">
		<div class="field">
			<%= f.label :fecha %>
			<%= f.date_select :fecha %>
		</div>
	</div>
	<div class="large-2 columns">
		<div class="field">
			<%= f.label :terminal_id %>
			<%= collection_select(:itinerario, :terminal_id, @terminales, :id, :codigo) %>
		</div>
	</div>
	<div class="large-2 columns">
		<div class="field">
			<%= f.label :autobus_id %>
			<%= collection_select(:itinerario, :autobus_id, @autobuses, :id, :codigo) %>
		</div>
	</div>
	</div>
	<div class="row">
	<div class="large-2 columns">
		<div class="actions">
			<%= f.submit %>
		</div>
	</div>
</div>
<% end %>
